@media screen and (min-width: 500px){
  .card-body {
    grid-auto-rows: 70px;
  }
}
@media screen and (min-width: 670px){
  .card-body {
    grid-auto-rows: 60px;
  }
}
@media screen and (min-width: 768px){
  .card-body {
    grid-auto-rows: 70px;
  }
}
@media screen and (min-width: 925px){
  .card-body {
    grid-auto-rows: 60px;
  }
}
.card-body, .card-container {
  display: grid;
}

.card--placeholder {
  height: 280px;
  animation: image-loading 1s linear infinite alternate;
}

@keyframes image-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}